TextODossier/.idea/.name
TextODossier/.idea/compiler.xml
TextODossier/.idea/gradle.xml
TextODossier/.idea/misc.xml
TextODossier/.idea/modules.xml
TextODossier/.idea/vcs.xml
TextODossier/.idea/copyright/profiles_settings.xml
TextODossierApp/.idea/.name
TextODossierApp/.idea/compiler.xml
TextODossierApp/.idea/gradle.xml
TextODossierApp/.idea/misc.xml
TextODossierApp/.idea/modules.xml
TextODossierApp/.idea/runConfigurations.xml
TextODossierApp/.idea/vcs.xml
TextODossierApp/.idea/copyright/profiles_settings.xml
