TextODossier/.idea/.name
TextODossier/.idea/compiler.xml
TextODossier/.idea/gradle.xml
TextODossier/.idea/misc.xml
TextODossier/.idea/modules.xml
TextODossier/.idea/vcs.xml
TextODossier/.idea/copyright/profiles_settings.xml
